.footer {
  position:fixed;
  margin: auto;
  bottom:0;
  height:30px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 20px;
  background-color: #E6E6FA;
  width: 100%;
}
