.footer {
  display: flex;
  justify-content: space-around;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #E6E6FA;
  width: 100%;
}


// position: fixed;
// bottom: 0;
// margin: auto;
// text-align: center;
