.grocery-purchases-wrapper {
  width: 100%;
  min-width: 600px;
  background-color: #BCBCF2;
  height: auto;
  overflow: auto;
}

// index component
.grocery-purchases {
  min-width: 600px;
  max-width: 600px;
  height: auto;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  border-radius: 5px;
  background-color: #BCBCF2;
}

.purchased-grocery-category-section {
  border-top: 1px solid #333399;
  margin-bottom: 1px;
}

.add-to-pantry-div {
  display: flex;
}

.add-to-pantry-button {
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  font-weight: bold;
  background-color: #333399;
  color: white;
  border-radius: 5px;
  border: 1px solid #333399;
  text-align: center;
  margin: 0 15px 20px 15px;
  padding: 6px 10px 6px 10px;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.add-to-pantry-button:hover {
  background-color: #E6E6FA;
  color: black;
  border: 1px solid #333399;
  transition: 0.5s;
}

.add-success {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 900;
  color: green;
  padding: 5px 0 15px 15px;
}

// index item component
.update-grocery-checkbox {
  align-self: center;
  display: inline-block;
  width: 10px;
  height: 10px;
}
