.grocery-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(80px, auto);
  grid-template-areas:
    "grocery-one grocery-one grocery-one grocery-one grocery-one"
    "grocery-two grocery-two grocery-two grocery-two grocery-two"
    "grocery-three grocery-three grocery-three grocery-three grocery-three"
    "grocery-four grocery-four grocery-four grocery-four grocery-four"
    "grocery-five grocery-five grocery-five grocery-five grocery-five";
  width: 600px;
  z-index: 1;
}

.grocery-one {
  grid-column: 1 / 6;
  grid-row: 1;
  padding-bottom: 50px;
  margin-left: 20px;
  z-index: 1;
}

.grocery-two {
  grid-column: 1 / 6;
  grid-row: 2 / 6;
  background-color: #333399;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  border-radius: 10px;
  width: 100%;
  padding-top: 20px;
}

.grocery-two h2 {
  margin-left: 20px;
}

.grocery-three {
  grid-column: 1 / 6;
  grid-row: 3 / 6;
  background-color: #E6E6FA;
  margin: 0 20px 20px 20px;
  border-radius: 10px;
}

.grocery-four {
  grid-column: 1 / 6;
  grid-row: 7/ 11;
  background-color: #333399;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  border-radius: 10px;
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.grocery-five {
  grid-column: 1 / 6;
  grid-row: 8 / 11;
  background-color: #E6E6FA;
  margin: 0 20px 20px 20px;
  border-radius: 10px;
}


.grocery-four h2 {
  align-items: center;
  margin-left: 20px;
}

.grocery-form {
  width: 100%;
}

.grocery-form-label {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.grocery-form-fields {
  display: flex;
}

.grocery-items ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 50%;
  padding-right: 20px;
}

.update-grocery-form-div {
  display: flex;
  margin-left: 20px;
}

.update-grocery-checkbox {
  align-self: center;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.update-grocery-form {
  display: flex;
}

.grocery-button {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 60px;
  background-color: #333399;
  color: white;
  border-radius: 7px;
  border: 1px solid #333399;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 10px;
  height: 30px;
  align-self: center;
}

.grocery-button:hover {
  background-color: #E6E6FA;
  color: black;
  border: 1px solid #333399;
  transition: 0.5s;
}

.grocery-button-add {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 60px;
  background-color: #333399;
  color: white;
  border-radius: 7px;
  border: 1px solid #333399;
  text-align: center;
  transition: 0.5s;
  margin-left: 30px;
  height: 30px;
}

.grocery-button-add:hover {
  background-color: #E6E6FA;
  color: black;
  cursor: pointer;
  border: 1px solid #333399;
  transition: 0.5s;
}

.grocery-item-error {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  color: red;
  margin-left: 20px;
}

.add-to-pantry-button {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
  width: 100px;
  background-color: #E6E6FA;
  border-radius: 7px;
  border: 1px solid #333399;
  text-align: center;
  transition: 0.5s;
  margin-left: 30px;
  margin-right: 20px;
  height: 30px;
  align-items: center;
}

.add-to-pantry-button:hover {
  background-color: #333399;
  color: white;
  cursor: pointer;
  border: 1px solid #E6E6FA;
  transition: 0.5s;
}

.add-success {
  width: 600px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 900;
  color: green;
  text-align: center;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
