
.image img {
  width: 100%;
  height: 1000px;
  width: auto\9;
  display: block;
  object-fit: cover;
  filter: brightness(50%);
  z-index: -1;
}

.guest-sign-in {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-80%);
  background-color: #333399;
  color: white;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-radius: 10px;
  border: 1px solid #333399;
  width: 30%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
}

.guest-sign-in:hover {
  background-color: #E6E6FA;
  color: black;
  border: 1px solid #333399;
  transition: 0.5s;
}

.home-titles {
  position: absolute;
  width: 100%;
  top: 20%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 50px;
  letter-spacing: 5px;
  color: white;
  z-index: 1;
}

.home-footer {
  display: flex;
  justify-content: space-around;
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 5px solid #333399;
  background-color: #E6E6FA;
  width: 100%;
}

// fixed
// v-h viewport height
// top of 90%
// position: absolute;
// bottom: 0;
// height: 100vh;
// font-awesome
