.image img {
  max-width: 100%;
  height: 1000px;
  width: auto\9;
  display: block;
  object-fit: cover
}

.guest-sign-in {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-80%);
  background-color: #333399;
  color: white;
  padding: 15px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-radius: 10px;
  border: 1px solid #333399;
  width: 45%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
}

.guest-sign-in:hover {
  background-color: #E6E6FA;
  color: black;
  border: 1px solid #333399;
  transition: 0.5s;
}

.home-footer {
  display: flex;
  justify-content: space-around;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 5px solid #333399;
  background-color: #E6E6FA;
  width: 100%;
}
