.image img {
  width: 100%;
  height: 600px;
  width: auto\9;
  display: block;
  object-fit: cover;
  filter: brightness(50%);
  z-index: -1;
}

.guest-sign-in {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-80%);
  background-color: #E6E6FA;
  color: white;
  padding: 15px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 10px;
  border: 1px solid #E6E6FA;
  width: 30%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  // z-index: 1;
}

.guest-sign-in:hover {
  background-color: #E6E6FA;
  color: black;
  border: 1px solid #E6E6FA;
  transition: 0.5s;
}

.home-titles {
  position: absolute;
  width: 100%;
  top: 263px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 50px;
  color: white;
  z-index: 1;
}

.home-titles1 {
  position: absolute;
  width: 100%;
  top: 225px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-weight: 900;
  font-size: 70px;
  color: white;
  z-index: 1;
}

.app-info {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #333399;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: white;
}

.app-info > section {
  padding: 20px 0 20px 0;
}

.app-info > section > h3 {
  width: 100%;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 30px;
  padding-bottom: 5px;
  color: white;
}

.home-footer {
  display: flex;
  justify-content: space-around;
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 5px solid #E6E6FA;
  background-color: #E6E6FA;
  width: 100%;
}
