// item index component
.wrapper {
  display: flex;
  width: 100%;
  left: 160px;
  min-height: 1200px;
  padding-top: 10px;
}

.side-nav-img {
  position: absolute;
  top: 77px;
  left: 0;
  min-width: 160px;
  max-width: 160px;
  min-height: 1210px;
  max-height: 1210px;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
}

.index {
  min-width: 600px;
  max-width: 600px;
  height: 1200px;
  background-color: white;
  margin: 0 0 0 10px;
  border-radius: 5px;
  overflow-y: auto;
}

.index-title {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 900;
  margin: 10px 0 20px 15px;
}

.add-item {
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  margin: 10px 15px 20px 15px;
  transition: 1s;
}

.add-item:hover {
  border: 1px solid #333399;
  background-color: #E6E6FA;
  border-radius: 5px;
  transition: 1s;
}

// index category
.index-category-section {
  border-top: 1px solid #e5e5e5;
  margin-bottom: 1px;
}

.index-category {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 900;
  margin: 8px 15px 2px 15px;
  padding: 3px 10px 3px 10px;
  background-color: #E6E6FA;
  border-radius: 3px;
}

.items {
  display: flex;
  flex-direction: column;
  margin: 8px 15px 2px 15px;
  padding: 3px 5px 3px 5px;
}

// add item form component
.item-form {
  width: 100%;
}

.item-form-fields {
  display: flex;
}

#text-field-default {
  width: 332px;
}

.form-categories {
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  font-style: italic;
  font-weight: 900;
  color: #333399;
  margin-right: 11px;
  margin-top: 1px;
}

// index item component
.update-item-form-div {
  display: flex;
}

.update-item-form {
  display: flex;
  margin-right: 16px;
}

.uncategorized-items {
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  font-style: italic;
  font-weight: 900;
  color: #333399;
  margin-left: 10px;
}

// item-errors
.item-error-messages {
  display: flex;
  flex-direction: row;
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
  color: red;
}

// update item errors
.item-error {
  width: 126px;
  margin: 0 0 3px 32px;
}

.item-name-error1 {
  margin: 0 0 3px 4px;
}

.item-name-error2 {
  margin: 0 0 3px 162px;
}

// add new item error
.add-item-error {
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
  color: red;
  margin: 0 0 5px 10px;
}

// font icons
.material-icons {
  align-self: center;
}

.trash-can:hover {
  align-self: center;
  color: red;
  cursor: pointer;
}

.plus-circle {
  padding: 6.5px 6px 0px 0px;
}

.fa-plus-circle {
  align-self: flex-start;
  margin-left: 5px;
  transform: scale(0.9);
  transition: 0.25s;
}

.fa-plus-circle:hover {
  transform: scale(1.1);
  transition: 0.25s;
  cursor: pointer;
}
