.nav-bar {
  display: flex;
  justify-content: space-between;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  background-color: #333399;
  color: white;
  align-items: center;
}

.greeting {
  font-size: 40px;
  letter-spacing: 5px;
  font-family: 'Pacifico', cursive;
  width: 100%;
  align-items: center;
  flex: 1;
}

.nav-link {
  align-items: flex-end;
  margin-left: 50px;
  flex: 1;
}

.nav-link:first-child {
  margin: 0;
}
.nav-link:hover {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
