.pantry-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(80px, auto);
  grid-template-areas:
    "pantry-one pantry-one pantry-one pantry-one pantry-one pantry-one"
    "pantry-two pantry-two pantry-two pantry-two pantry-two pantry-two"
    "pantry-three pantry-three pantry-three pantry-three pantry-three pantry-three";
  width: 600px;
  z-index: 1;
}

.pantry-one {
  grid-column: 1 / 6;
  grid-row: 1;
  padding-bottom: 50px;
  margin-left: 20px;
  z-index: 1;
}

.pantry-two {
  grid-column: 1 / 6;
  grid-row: 2 / 8;
  background-color: #333399;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  border-radius: 10px;
  width: 100%;
  padding-top: 30px;
}

.pantry-two h2 {
  margin-left: 20px;
}

.pantry-three {
  grid-column: 1 / 6;
  grid-row: 3 / 8;
  background-color: #E6E6FA;
  margin: 0 20px 20px 20px;
  border-radius: 10px;
}

.pantry-form {
  width: 100%;
}

.pantry-form-label {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.pantry-form-fields {
  display: flex;
}


.pantry-items ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 50%;
  padding-right: 20px;
}

.update-pantry-form-div {
  display: flex;
  margin-left: 20px;
}

.update-pantry-form {
  display: flex;
}

.pantry-button {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 60px;
  background-color: #333399;
  color: white;
  border-radius: 7px;
  border: 1px solid #333399;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 10px;
  height: 30px;
  align-self: center;
}

.pantry-button:hover {
  background-color: #E6E6FA;
  color: black;
  border: 1px solid #333399;
  transition: 0.5s;
}

.pantry-button-add {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 60px;
  background-color: #333399;
  color: white;
  border-radius: 7px;
  border: 1px solid #333399;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 30px;
  height: 30px;
}

.pantry-button-add:hover {
  background-color: #E6E6FA;
  color: black;
  border: 1px solid #333399;
  transition: 0.5s;
}

.pantry-item-error {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  color: red;
  margin-left: 20px;
}
