.update-pantry-form-div {
  display: flex;
  margin-left: 52px;
  margin-right: 70px;
}

.reminders {
  width: 100%;
  height: auto;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 900;
  background-color: white;
  border-radius: 5px;
  background-color: #BCBCF2;
  overflow: auto;
}

.reminder-titles {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 900;
  margin: 10px 0 20px 15px;
}
