.checkbox-placeholder {
  min-width: 32px;
  height: 20px;
}

.reminders-wrapper {
  width: 100%;
  min-width: 600px;
  background-color: #BCBCF2;
  height: auto;
  overflow: auto;
}

.reminder-titles {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 900;
  margin: 10px 0 20px 15px;
}

.planned-recipes-title {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 900;
  padding: 40px 0 15px 15px;
  border-top: 1px solid #333399;
}
