.recipe-wrapper {
  display: flex;
  width: 100%;
  height: auto;
}

.recipe-list {
  min-width: 600px;
  height: auto;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 900;
  background-color: white;
}

.new-recipe {
  width: 100%;
  height: auto;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 900;
  background-color: #E6E6FA;
}
