// recipe index
.recipe-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 1200px;
  padding-top: 10px;
  margin: 0 0 0 10px;
}

.recipe-img {
  position: absolute;
  top: 78px;
  left: 0;
  min-width: 180px;
  max-width: 180px;
  min-height: 1210px;
  max-height: 1210px;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
}

.recipe-list, .recipe-detail {
  min-width: 600px;
  max-width: 1200px;
  min-height: 1200px;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 900;
  border-radius: 5px;
  background-color: white;
}

.recipe-three-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

// recipe form and detail component shared
.recipe-form-nav-bar, .recipe-detail-nav-bar {
  position: absolute;
  top: 78px;
  left: 0;
  min-width: 180px;
  max-width: 180px;
  min-height: 1210px;
  max-height: 1210px;
  height: 100%;
  background-color: #E6E6FA;
}

// recipe form
.recipe-form {
  width: 900px;
  height: 1200px;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 900;
  margin: 0 10px 0 10px;
  border-radius: 5px;
  background-color: #BCBCF2;
}

.new-recipe-title {
  margin-top: 10px;
}

.new-recipe-title > h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 900;
  padding: 10px 0 30px 15px;
}


.recipe-items, .recipe-form-input {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 900;
  margin: 10px 0 0 15px;
}

.recipe-title {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 900;
  margin: 30px 0 0 15px;
}

.recipe-info {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 900;
  margin: 10px 0 0 0;
}

.recipe-info:hover {
  transform: scale(1.05);
}

.recipe-form-part2 {
  display: flex;
  margin: 0 0 20px 0;
}

.recipe-form-part2:last-child {
  display: flex;
  margin: 10px 0 0 0;
}

.recipe-form-part2 > span {
  padding-top: 6px;
  min-width: 100px;
}

.input-field {
  width: 100%;
  border: 1px solid #333399;
  background-color: white;
  color: #333399;
  border-radius: 3px;
  margin-right: 15px;
}

.recipe-form-part3 {
  margin-left: 70px;
  width: 100%;
}

.recipe-form-part4 {
  display: flex;
}

.recipe-form-part4 > span {
  padding-top: 6px;
  min-width: 100px;
}

.recipe-form-input > div {
  display: flex;
  margin: 10px 0 20px 0;
}

.recipe-form-input > div > span {
  padding-top: 6px;
  min-width: 100px;
}

.recipe-form-input > div > input {
  width: 100%;
  border: 1px solid #333399;
  background-color: white;
  color: #333399;
  border-radius: 3px;
  margin-right: 15px;
}

.recipe-form-input > div > textarea {
  width: 100%;
  border: 1px solid #333399;
  background-color: white;
  color: #333399;
  border-radius: 3px;
  margin-right: 15px;
  padding: 5px 0 0 5px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #333399;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #333399;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #333399;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #333399;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #333399;
}

.recipe-form-part1 {
  margin: 0 0 0 0;
}

.upload-img {
  width: 250px;
  height: 130px;
  margin-right: 15px;
  border: 1px solid #333399;
  background-color: white;
  color: #333399;
  border-radius: 3px;
  padding-top: 5px;
}

.upload-img > input {
  align-items: center;
  width: 100%;
  height: 85%;
  background-color: white;
  color: #333399;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 0 0 0;
  opacity: 0;
}

.upload-img:hover {
  border: 1px dashed #333399;
  background-color: #333399;
  color: white;
}

.upload-file {
  padding: 0 0 0 5px;
}

.recipe-button-div {
  align-self: center;
}

.recipe-form-button {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: bold;
  background-color: #333399;
  color: white;
  border-radius: 5px;
  border: 1px solid #E6E6FA;
  text-align: center;
  margin: 10px 15px 0 0;
  width: 100%;
  padding: 8px 0 8px 0;
  cursor: pointer;
  transition: 0.5s;
}

.recipe-form-button:hover {
  background-color: #E6E6FA;
  color: black;
  border: 1px solid #333399;
  transition: 0.5s;
}

.recipe-detail-options {
  display: flex;
  flex-direction: row;
}

.recipe-detail-options section {
  padding: 10px 15px 0 0;
}

.recipe-link {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: bold;
  align-self: center;
  margin: 10px 0 0 15px;
  cursor: pointer;
  transition: 0.5s;
}

#link-to-recipes {
  padding-top: 13px;
}

.recipe-link:hover {
  color: #333399;
  text-decoration: underline;
  transition: 0.5s;
}

.fa-pencil, .fa-calendar {
  cursor: pointer;
  padding: 5px;
  vertical-align: top;
  // border: 1px solid black;
}

.fa-calendar {
  margin-left: 15px;
}

.fa-pencil:hover, .fa-calendar:hover {
  cursor: pointer;
  padding: 5px;
  color: white;
  background-color: #333399;
  border-radius: 3px;
}

.trash-can-recipe {
  // border: 1px solid black;
  padding: 2px 0 1px 0;
  text-align: center;
  cursor: pointer;
}

.trash-can-recipe:hover {
  // border: 1px solid black;
  padding: 2px 0 1px 0;
  text-align: center;
  color: red;
  cursor: pointer;
}

// recipe detail component
.recipe-detail-info {
  margin: 30px 10px 0 15px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.recipe-detail-info > h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #333399;
}

.recipe-detail-info > ul > li {
  margin-top: 5px;
}

.recipe-detail-content {
  display: flex;
  justify-content: flex-start;
}

.recipe-detail-img {
  width: 350px;
  max-height: 250px;
  min-height: 250px;
  // object-fit: cover;
  // border-radius: 5px;
  margin: 10px 10px 20px 0;
}

.recipe-detail-img > img {
  width: 350px;
  max-height: 250px;
  min-height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

//??
#recipe-detail-img:hover {
  transform: scale(0.8);
}

// recipe detail
.recipe-detail-content1 {
  margin: 10px 15px 10px 0;
}

.recipe-detail-title {
  font-size: 17px;
  font-weight: 900;
  color: #333399;
  margin-bottom: 5px;
}

.recipe-detail-content1 > h3 {
  margin-left: 15px;
}

.recipe-detail-content1 > p {
  font-size: 15px;
  margin: 0 0 20px 15px;
}

.recipe-detail-content2 {
  display: flex;
  justify-content: flex-start;
}

.ingredients {
  max-width: 325px;
  min-width: 325px;
  margin-right: 45px;
  font-size: 15px;
  margin-bottom: 20px;
}

.recipe-detail-content2 > section > ul > li {
  margin-bottom: 15px;
  padding-right: 15px;
  font-size: 15px;
}

.recipe-detail-link {
  color: blue;
}

.recipe-detail-link:hover {
  text-decoration: underline;
}

.recipe-detail-last-section {
  padding-bottom: 30px;
  font-size: 15px;
}
