// item index component
.add-reminder {
  border: 1px solid #333399;
  border-radius: 5px;
  margin: 10px 15px 20px 15px;
  background-color: white;
}

// item form component
.item-form {
  width: 100%;
}

.item-form-fields {
  display: flex;
}

#text-field-default {
  width: 330px;
}

.form-date {
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  font-weight: 900;
  color: #333399;
  margin-right: 20px;
  margin-top: 1px;
  min-width: 250px;
  max-width: 250px;
  border: none;
}

.plus-circle-reminder {
  padding: 3px 0 1px 0;
}

.fa-plus-circle::before {
  align-self: center;
  transition: 0.5s;
  height: 18px;
}

.fa-plus-circle:hover {
  align-self: center;
  transition: 0.25s;
  transform: scale(1.5);
  cursor: pointer;
}
