// item index component
.add-reminder {
  border: 1px solid #333399;
  border-radius: 5px;
  margin: 15px 15px 20px 15px;
  background-color: white;
}

// item form component
.item-form {
  width: 100%;
}

.item-form-fields {
  display: flex;
}

#text-field-default {
  width: 332px;
}

.form-date {
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  font-weight: 900;
  color: #333399;
  margin-right: 20px;
  margin-top: 1px;
  min-width: 250px;
  max-width: 250px;
  border: none;
  line-height: 17px;
}

.plus-circle-reminder {
  margin-right: 10px;
  padding: 3px 0 0 5px;
}

.reminder-plus-circle {
  align-self: flex-start;
  margin-left: 5px;
  transform: scale(0.8);
  transition: 0.25s;
}

.reminder-plus-circle:hover {
  transform: scale(1.0);
  transition: 0.25s;
  cursor: pointer;
}
