// item index component
.add-reminder {
  border: 1px solid #333399;
  border-radius: 5px;
  min-width: 560px;
  margin: 15px 15px 20px 15px;
  background-color: white;
  transition: 1s;
  overflow: auto;
}

.add-reminder:hover {
  border: 1px solid black;
  background-color: #E6E6FA;
  border-radius: 5px;
  transition: 1s;
}

// item form component
.item-form {
  width: 100%;
}

.item-form-fields {
  display: flex;
}

#reminder-text-field-default {
  min-width: 332px;
}

.selectedCustomDate {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-right: 20px;
}

.fa-sort-desc {
  padding: 3px 0 0 3px;
}

.form-date-input {
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  font-style: italic;
  font-weight: 900;
  color: #333399;
  margin-top: 1px;
  border: none;
}

.form-date {
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  font-style: italic;
  font-weight: 900;
  color: #333399;
  margin-right: 20px;
  margin-top: 1px;
  width: 100%;
  border: none;
}

.plus-circle-reminder {
  margin-right: 10px;
  padding: 3px 0 0 5px;
}

.reminder-plus-circle {
  align-self: flex-start;
  margin-left: 5px;
  transform: scale(0.8);
  transition: 0.25s;
}

.reminder-plus-circle:hover {
  transform: scale(1.0);
  transition: 0.25s;
  cursor: pointer;
}

// material-ui trash-can has additional padding-right: 3px as default
.reminder-items {
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  margin: 8px 15px 2px 15px;
  padding: 3px 7px 3px 10px;
}

.reminder-items > div {
  padding-bottom: 5px;
}

.reminder-item {
  display: flex;
  flex-direction: row;
}

.reminder-item > div {
  width: 100%;
}
