html, form, div, label, body, h1, h2, h3, ul, li,
table, tr, th, a, header, nav, span, button,
footer, section, input, p, select, option {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}


// lavender = #d7e7f5
// purple = #d7e7f5
// rgba(174, 138, 246, 0.69)

// 'Nunito', sans-serif
// 'Pacifico', cursive
// 'Roboto', sans-serif


// blue = #d7e7f5;
// light-blue = #d7e7f5;
