html, form, div, label, body, h1, ul, li, a, header, nav, span, footer, section, input, p {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}


// lavender = #E6E6FA
// purple = #333399
