html, form, div, label, body, h1, h2, h3, ul, li,
table, tr, th, a, header, nav, span, button, textarea,
footer, section, input, p, select, option, figure, input {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}


// lavender = #E6E6FA
// in_between = #BCBCF2
// purple = #333399

// 'Nunito', sans-serif
// 'Pacifico', cursive
