// .edit-instructions {
//   font-family: 'Nunito', sans-serif;
//   font-size: 12px;
//   font-weight: bold;
//   margin-left: 20px;
//   font-style: italic;
//   color: #E6E6FA;
// }

.material-icons {
  align-self: center;
}

.material-icons:hover {
  align-self: center;
  color: red;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  padding-right: 30px;
}
